/* Student Name: Ophilia Fradarick */

@charset "utf8";

.table1{
    background-color: #f1f1eb;
    width:100%;
    font-size: 30px;
    border-spacing: 20px;
    border-collapse: collapse;
}

.header{
    background-color: #8A4448;
    color:#ffffff;
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    height: 100px;
}

.coloredBlock{
    background-color: #8A4448
}

.table1 td{
    width: 100px;
    height: 200px;
    border: 1px solid black;
    vertical-align: top;
}
